.wrapper {
  background-color: #f0c3f4;
  text-align: center;
  display: flex;
}
.wrapperRight {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}
.wrapperLeft {
  font-family: 'Cabin Sketch', cursive;
  color: #f95232;
  width: 50vw;
  display: flex;
  margin: 5vh 0 20vh 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header {
  font-size: 5em;
}
input {
  background-color: #ecf654;
  height: 5vh;
  border: none;
  border-radius: 14px 0 14px 0;
  color: #f95232;
  font-family: 'Cabin Sketch', cursive;
  padding-bottom: 5px;
  border: none;
  outline: none;
  margin-bottom: 25px;
  font-size: 1em;
  text-align: center;
  width: 20vw;
}
input::placeholder {
  color: #f95232;
}
button {
  background-color: #f95232;
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  color: #ecf654;
  border: none;
  // padding: 15px;
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  font-size: 2em;
}
