.app {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f0c3f4;
}

button:disabled {
  opacity: 0.4;
  cursor: initial;
}

#leaveRoom {
  margin-top: 25px;
  margin-left: 0;
}

@media (max-width: 1048px) {
  .app {
    padding: 1vw;
  }

  .participant {
    width: 47vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 2vw;
    height: 42vh;
  }

  @media (orientation: landscape) {
    .participant {
      width: 48vw;
      margin-left: 1vw;
      height: 96vh;
    }
  }
}
